
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/KidKinderLayout/_Layout.cshtml";
}



<body>
    @Html.Action("GalleryHeaderPartial", "Gallery")
    @Html.Action("GalleryImagePartial", "Gallery")



</body>

