
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Student</h5>
                    <p class="m-b-0">Student page</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/index"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Student/index">Student</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

