
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/KidKinderLayout/_Layout.cshtml";
}

<body>
    @Html.Action("ClassesHeaderPartial", "Classes")

    @Html.Action("PartialClassRooms", "Default")

    @Html.Action("PartialBookASeat", "Default")


</body>

