
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/KidKinderLayout/_Layout.cshtml";
}

<body>
    @Html.Action("TeacherHeaderPartial", "Teachers")

    @Html.Action("PartialTeacher", "Default")

    @Html.Action("PartialTestimonial", "Default")
</body>

