
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/KidKinderLayout/_Layout.cshtml";
}
<body>
    @Html.Action("AboutHeaderPartial", "About")

    @Html.Action("PartialAbout", "Default")

    @Html.Action("PartialServices", "Default")

    @Html.Action("PartialTeacher", "Default")

</body>


