@model List<KidKinder.Entities.Teacher>
@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Teacher</h5>
                    <p class="m-b-0">Teacher Page</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/index"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Dashboard/index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Teacher/TeacherList">Teacher</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Teacher List Table</h5>
                        <span>Teacher Table used for Teacher Operations  </span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name Surname</th>
                                        <th>Branch</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.TeacherId</td>
                                            <td>@item.NameSurname</td>
                                            <td>@item.Branch.BranchName</td>
                                            <td><a href="/Teacher/UpdateTeacher/@item.TeacherId" class="btn btn-success">Update</a></td>
                                            <td><a href="/Teacher/DeleteTeacher/@item.TeacherId" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Teacher/CreateTeacher" class="btn btn-primary"> Add New Teacher</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



